* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;

}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    font-family: Arial;
}
.top-menu ul {
    float: right;
}
.top-menu ul li {
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid #cccccc;
    padding: 1px 10px;
}
.header-section-1{
    position: relative;
    padding: 10px 0 0;
}
.header-section-1 .logo {
    float: left;
}
.header-section-1 .contact-us {
    float: right;
    margin-top: 15px;
}
.header-section-2 {
    padding: 10px 0 0;
    position: relative;
}
.header-section-2 .menu {
    float: left;
}
.header-section-2 .menu ul li{
    display: inline-block;
    margin-right: 1px;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.header-section-2 .menu ul li:hover {
    background: linear-gradient(to top, #ec0a0a, #f97070);
}
.header-section-2 .menu ul li:hover a {
    color: #fff;
}
.header-section-2 .menu ul li:first-child {
    margin-left: 0;
}
.sub-menu {
    background-color: red;
    border: none;
    outline: none;
    background: linear-gradient(to top, #ec0a0a, #f97070);
    color: #fff;
    padding: 5px 10px;

}
.header-section-2  .person-area {
    float: right;
    font-size: 10px;
}
.header-section-2 .person-area ul li {
    display: inline-block;
    padding: 0 10px;
}
.header-section-2 .person-area ul li:first-child{
    border-right: 1px dashed #ccc;
    padding-left: 0;
}

