* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    font-family: Arial;
}
.top-menu ul {
    float: right;
}
.top-menu ul li {
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid #cccccc;
    padding: 1px 10px;
}
.header-section-1{
    position: relative;
    padding: 10px 0 0;
}
.header-section-1 .logo {
    float: left;
}
.header-section-1 .contact-us {
    float: right;
    margin-top: 15px;
}
.header-section-1 .contact-us .phone {

    color: #F33F3F;
    font-weight: bolder;
    font-size: 18px;
}
.header-section-1 .contact-us .phone span {
    padding-left: 5px;
}
.header-section-1 .contact-us .vk,
.header-section-1 .contact-us .ok,
.header-section-1 .contact-us .phone {
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}
.header-section-1 .contact-us .vk,
.header-section-1 .contact-us .ok {
    font-size: 24px;
    line-height: 24px;
}
.header-section-1 .contact-us .vk a {
    color: #507299
}
.header-section-1 .contact-us .ok a {
    color: #ee8208;
}
.header-section-1 .search-form {
    background-color: #f8f8f7;
    padding: 3px 5px 1px 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #edd8d8;
    border-top-right-radius: 5px;
}
.header-section-1 .search-form .fa-search {
    color: #7d7878;
    padding-right: 5px;
}
.header-section-1 .search-form .input-search {
    border-radius: 2px;
    border: 1px solid #F33F3F;
    font-size: 11px;
    line-height: 14px;
    padding: 3px 10px;
    color: #7d7878;
}
.header-section-1 .search-form .btn-search{
    font-size: 11px;
    line-height: 14px;
    background: linear-gradient(to top, #ec0a0a, #f97070);
    border: none;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
}
.header-section-2 {
    padding: 10px 0 0;
    position: relative;
}
.header-section-2 .menu {
    float: left;
}
.header-section-2 .menu .active-link {
    background: linear-gradient(to top, #ec0a0a, #f97070);
    color: #fff;
}
.header-section-2 .menu ul li{
    display: inline-block;
    float: left;
    margin-right: 2px;

}
.header-section-2 .menu > ul > li > a{
    display: block;
    padding: 5px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.header-section-2 > .menu > ul > li > a:hover {
    background: linear-gradient(to top, #ec0a0a, #f97070);
    color: #fff;
}

.header-section-2 .menu ul li a:first-child {
    margin-left: 0;
}
ul .sub-menu {
    background: linear-gradient(to top, #ec0a0a, #f97070);
    color: #fff;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    left: 0;
    height: 25px;
}
ul .sub-menu li {
    margin-right: 0 !important;
    height: 23px;
}
ul .sub-menu  li a {
    color: #fff;
    border-right: 1px solid #fff;
    padding: 1px 6px 1px 6px;
    font-size: 10px;
    display: inline-block;
    line-height: 19px;
}
ul .sub-menu li a:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffffff;
    color: #000;
}
.header-section-2  .person-area {
    float: right;
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.header-section-2  .person-area h4 {
    color: #ec0a0a;
    font-size: 1.2em;
}
.header-section-2 .person-area ul li {
    display: inline-block;
    padding: 0 10px;
}
.header-section-2 .person-area ul li:first-child{
    border-right: 1px dashed #ccc;
    padding-left: 0;
}

.breadcrumbs {
    margin-top: 27px;
    font-size: 12px;
    margin-bottom:10px;
}
main {

}
main h2 {
    color: #EF2020;
    font-weight: 200;
    border-bottom: 2px solid #EF2020;
    padding-bottom: 5px;
}
main h5 {
    margin: 3px 0 5px;
}
main .content #map {
    float: left;
    width: 650px;
    height: 400px;
}
.placemark {
    background-color: #00cd74;
    color: #fff;
    padding: 5px 10px;
}
main .content .descript-map {
    float: right;
}
main .content .descript-map {
    border-radius: 5px;
    /*border: 1px solid #000;*/
    width: 273px;
    padding: 5px;
    background-color: #f3f3f3;
}
.citys {
    padding-left: 25px;
}
.citys li a:before {
    content: "\2603";
}
.citys li a {
    font-size: 14px;

}
